services:
  - type: web
    name: studentnest-web
    env: docker
    repo: https://github.com/Muhamedall/studentnest-fullstack-projct
    branch: main
    plan: starter
    dockerfilePath: Dockerfile
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: 'false'
    buildCommand: ""
    startCommand: ""   # Docker CMD from image will be used

  - type: worker
    name: studentnest-worker
    env: docker
    repo: https://github.com/Muhamedall/studentnest-fullstack-projct
    branch: main
    plan: starter
    dockerfilePath: Dockerfile
    startCommand: "php artisan queue:work --sleep=3 --tries=3 --timeout=90"
    envVars:
      - key: QUEUE_CONNECTION
        value: database

databases:
  - name: studentnest-db
    plan: starter
